
<!DOCTYPE html>
<html>

   <head>
      <title>HTML base Tag</title>
      <base href = "http://127.0.0.1:5000/" />
   </head>

   <body>
    <ul>
        <li><a href="/director">Click to view director count report</a></li>
        <li><a href="/genre">Click to view genre breakdown of popular movies</a></li>
        <li><a href="/month">Click to view number of popular movies released each month</a></li>
    </ul>
    <form>
        <input type="button" value="Go back to list page" onclick="history.back()">
    </form>
   </body>
</html>